<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Showcase Books</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

<div sec:authorize="hasAnyAuthority('ROLE_MEMBER')">


    <div class="p-5 bg-dark text-white text-center">
        <h1><i><b>Show Case Book Store</b></i></h1>
        <p>Did Anyone Say Books !</p>
    </div>



    <!--Header-->
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/user/viewallbooks}"><b>SHOWCASE</b></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/viewallbooks}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/viewpendingreservations/{email}/{status}(email=${useremail.getUsername()},status='Pending')}">Pending Reservation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/viewapprovedreservations/{email}/{status}(email=${useremail.getUsername()},status='Approved')}">Approved Reservation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/viewreturnedreservations/{email}/{status}(email=${useremail.getUsername()},status='Returned')}">Reservation History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/viewmyfavourites/{email}(email=${useremail.getUsername()})}">View Favourite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/viewmynotification/{email}(email=${useremail.getUsername()})}">View Notification</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/contactadminpage}">Contact Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/viewprofile/{email}(email=${useremail.getUsername()})}">View Profile</a>
                </li>

            </ul>

            <ul class="navbar-nav">
                <li class="nav-link">
                    <a class="nav-link" style="color: black" th:href="@{/logout}"><b>Log Out</b></a>
                </li>
            </ul>

        </div>
    </nav>
    <!--End of header-->

    <div align="center">
        <div th:if="${param.blacklisted}">
            <div class="alert alert-danger">You are blacklisted by the admin, you are not allowed to reserve books !</div>
        </div>

        <div th:if="${param.bronzeerror}">
            <div class="alert alert-danger">Bronze Level Members Are Only Allowed To Reserve Upto 3 Books !</div>
        </div>
        <div th:if="${param.silvererror}">
            <div class="alert alert-danger">Silver Level Members Are Only Allowed To Reserve Upto 5 Books !</div>
        </div>
        <div th:if="${param.golderror}">
            <div class="alert alert-danger">Gold Level Members Are Only Allowed To Reserve Upto 7 Books !</div>
        </div>
        <div th:if="${param.platinumerror}">
            <div class="alert alert-danger">Platinum Level Members Are Only Allowed To Reserve Upto 10 Books !</div>
        </div>

        <div th:if="${param.favouritesuccess}">
            <div class="alert alert-success">Added To Your Favourites!</div>
        </div>
        <div th:if="${param.favouritefailure}">
            <div class="alert alert-danger">Something went wrong, couldn't add to favourites !</div>
        </div>
        <div th:if="${param.alreadyexist}">
            <div class="alert alert-danger">Book Is Already Added To Your Favourites !</div>
        </div>

    </div>

    <div class="container mt-5">
        <div class="row">


            <!--        Content in middle-->

            <h1><b><i>Showcase Library</i></b></h1>
            <table class="table">
                <thead class="thead-dark">
                <tr>

                    <th scope="col">Book Cover</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                    <th scope="col">Action</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="Book : ${member_all_books}">

                    <td><img th:src="@{${'../static/uploads/'+Book.getFileName()}}" width="250" height="250" ></td>
                    <td th:text="${Book.getBookname()}"></td>
                    <td th:text="${Book.getAuthor()}"></td>
                    <td th:text="${Book.getCategory()}"></td>
                    <td><a th:href="@{/user/bookdetailspage/{id}(id=${Book.getId()})}" class="btn btn-success">View Book</a></td>
                    <td><a th:href="@{/user/reservebookpage/{id}(id=${Book.getId()})}" class="btn btn-success">Reserve Book</a></td>
                    <td><a th:href="@{/user/addtofavourite/{id}(id=${Book.getId()})}" class="btn btn-success">Add To Favourite</a></td>
                </tr>
                </tbody>
            </table>


            <!--    End of Content in middle-->



        </div>
    </div>





</div><!--End Of Member Authorization-->








<!--If logged in user is not member-->
<div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">

    <!--Nav Bar (header)-->
    <nav class="navbar navbar-expand-sm bg-success navbar-dark" style="background-color: #A8E4A0;">
        <a class="navbar-brand" href="#" > <b>SHOWCASE - No Permission To View This Page</b> </a>
    </nav>
    <!--header end-->

    <div align="center">

        <img src="https://techlazza.com/wp-content/uploads/2021/03/for-to-fix-403-main.jpg" width="1200px" class="align-content-xxl-stretch" alt="403">

    </div> <!--End of div align="center"  -->

</div>
<!--End Of -If logged in user is not member-->









</body>


<br><br><br><br>

<!--Footer-->
<div class="mt-5 p-4 bg-dark text-white text-center ">
    <p>Showcase 2022</p>

</div>
<!--end of Footer-->
</html>

