<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>View Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

</head>
<body>

<div sec:authorize="hasAnyAuthority('ROLE_MEMBER')">


    <div class="p-5 bg-dark text-white text-center">
        <h1><i><b>Show Case Book Store</b></i></h1>
        <p>Did Anyone Say Books !</p>
    </div>



    <!--Header-->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #009E60">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#"><b>SHOWCASE</b></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">View Pending Reservation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">View Reservation History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">View Favourite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/viewmynotification/{email}(email=${useremail.getUsername()})}">View Notification</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/contactadminpage}">Contact Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/viewprofile/{email}(email=${useremail.getUsername()})}">View Profile</a>
                </li>

            </ul>

            <ul class="navbar-nav">
                <li class="nav-link">
                    <a class="nav-link" style="color: black" th:href="@{/logout}"><b>Log Out</b></a>
                </li>
            </ul>

        </div>
    </nav>
    <!--End of header-->

    <div class="container mt-5">
        <div class="row">


            <!--        Content in middle-->


            <div align="center" style="padding-left: 470px"><h1><b>My Profile</b></h1></div>


            <div class="container mt-1" >
                <div class="row d-flex justify-content-center">
                    <div class="col-md-7">
                        <div class="card p-3 py-4">
                            <div class="text-center mt-3">
                                <span class="bg-secondary p-1 px-4 rounded text-white">Showcase Member</span>


                                <table class="table">

                                    <!--------------------------------------------------------------------------------------------------------->

                                    <!-- Name-->

                                    <thead class="thead-dark">
                                    <tr>

                                        <th scope="col"><b>Name</b></th>

                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="User: ${view_profile}">
                                        <td th:text="${view_profile.getFullname()}"></td>
                                    </tr>
                                    </tbody>

                                    <!--------------------------------------------------------------------------------------------------------->

                                    <!-- Email-->

                                    <thead class="thead-light">
                                    <tr>

                                        <th scope="col"><b>Email</b></th>

                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="User: ${view_profile}">
                                        <td th:text="${view_profile.email}"></td>
                                    </tr>
                                    </tbody>

                                    <!--------------------------------------------------------------------------------------------------------->

                                    <!-- Mobile -->

                                    <thead class="thead-light">
                                    <tr>

                                        <th scope="col"><b>Contact</b></th>

                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="User: ${view_profile}">
                                        <td th:text="${view_profile.getMobile()}"></td>
                                    </tr>
                                    </tbody>
                                    <!--------------------------------------------------------------------------------------------------------->

                                    <!-- Level -->

                                    <thead class="thead-light">
                                    <tr>

                                        <th scope="col"><b>Member Level</b></th>

                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="User: ${view_profile}">
                                        <td th:text="${view_profile.getLevel()}"></td>
                                    </tr>
                                    </tbody>

                                    <!--------------------------------------------------------------------------------------------------------->

                                    <!-- Blacklist -->

                                    <thead class="thead-light">
                                    <tr>

                                        <th scope="col"><b>Am I Blacklisted ?</b></th>

                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="User: ${view_profile}">
                                        <td th:text="${view_profile.getBlacklist()}"></td>
                                    </tr>
                                    </tbody>

                                    <!--------------------------------------------------------------------------------------------------------->

                                    <!-- Button -->



                                    <tbody>
                                    <tr th:each="User: ${view_profile}">
                                        <td>
                                            <a th:href="@{/user/editprofile/{id}(id=${view_profile.getId()})}" class="btn" style="background-color: #009E60; color: white;" >Edit Profile</a>
                                        </td>
                                    </tr>
                                    </tbody>

                                    <!--------------------------------------------------------------------------------------------------------->

                                </table>



                            </div><!--end of "text-center mt-3"-->
                        </div><!--end of class="card p-3 py-4"-->
                    </div><!--end of class="col-md-7"-->
                </div><!--end of class="row d-flex justify-content-center"-->
            </div><!--end of container div-->


            <!--    End of Content in middle-->



        </div>
    </div>





</div><!--End Of Member Authorization-->








<!--If logged in user is not member-->
<div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">

    <!--Nav Bar (header)-->
    <nav class="navbar navbar-expand-sm  navbar-dark" style="background-color: #009E60">
        <a class="navbar-brand" href="#" > <b>SHOWCASE - No Permission To View This Page</b> </a>
    </nav>
    <!--header end-->

    <div align="center">

        <img src="https://techlazza.com/wp-content/uploads/2021/03/for-to-fix-403-main.jpg" width="1200px" class="align-content-xxl-stretch" alt="403">

    </div> <!--End of div align="center"  -->

</div>
<!--End Of -If logged in user is not member-->









</body>


<br><br><br><br>

<!--Footer-->
<div class="mt-5 p-4 bg-dark text-white text-center ">
    <p>Showcase 2022</p>

</div>
<!--end of Footer-->
</html>

